<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MicroserviceUI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Microservice UI</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/Category" class="nav-link">Category</a></li>
                <li class="nav-item"><a href="/Product" class="nav-link">Product</a></li>
                <li class="nav-item"><a href="/Company" class="nav-link">Company</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
